body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    width: 1440px;
    padding-left: 0;
    padding-right: 0,
    margin-left: 0;
    margin-right: 0;

}

a {
    text-decoration: none;
}
img {
    display: block;
    align-self: flex-start;
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
}
h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
}
p {
    margin: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    height: auto;
   
}
section {
    padding: 120px 156px;
}
.header {
    border-bottom: 1px solid #e7e9fc;
}   
.header-container{
    display: flex;
    justify-content: space-between;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 24px 0;
}
.nav-bar .nav-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}
.logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    margin-right: 76px
}
.logo-part {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
}
.nav-bar .nav-main {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    gap: 40px;
}
.nav-main {
    padding: 24px 0;;
}
.nav-main .studio {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}

.nav-main:hover,
.nav-main:focus {
    color: #404bbf;

}

.studio:hover,
.studio:focus {
    color: #404bbf;
}

.nav-main .studio:active {
    color: #404bbf;
    text-decoration: underline;
}

.contacts {
    font-style: normal;
 }
 .address {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    gap: 40px;
    margin-left: auto;
 }

.contacts .cont-link {
    font-size: 16px;
    line-height: 1.5em;
    color: #434455;
    letter-spacing: 0.02em;
}

.contacts .cont-link:hover {
    color: #404bbf;
}

.contacts .cont-link:focus {
    color: #404bbf;
}
.container-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first {
    background-color: #2e2f42;
    padding: 188px 0;
    height: 600px
}

.first .main-header {
    text-align: center;
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 800;
    line-height: 1.07em;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    max-width: 496px;

}

.knob {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    cursor: pointer;
    text-align: center;
    display: block;
    height: 56px;
    border-radius: 4px;
    border: none;
    min-width: 169px
}

.knob:hover {
    background-color: #404BBF;
}

.knob:focus {
    background-color: #404BBF;
}
.second {
    padding: 120px 0;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.value-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction:  row;
    gap: 24px;
}
.va-li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: calc((100% - 72px) / 4);
}

.value-header {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.value-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    text-align: center;
}
.third-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.third {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.team-header {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;

}
.third-list{
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 72px;
    height: auto;
}
.third-list li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.team-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 0 0 4px 4px;
    width: calc((100 - 72px) / 4);
}
.team-name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    padding: 32px 0;
    margin: auto;
    
}
.team-back {
    background-color: #FFFFFF;
}

.team {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.02em;
}
.fourth {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items:flex-start;
    padding: 120px 0;
    height: auto;
}

.portf-header {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11em;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.portf-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 72px;
    row-gap: 48px;
    }
.team-list {
    width: calc((100% - 48px) / 4);
}
.about-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

.foot {
    background-color: #2E2F42;
    padding: 100px 0;
}
.container-foot {
    display: block;

}

.text-two {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    display: block;
    max-width: 264px;
}

.foot-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    gap: 0px;
    margin-bottom: 16px;
}

.foot-logo-part {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
}